<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<title>blogex</title>
<body style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight: 200;">
    <%- include("./partials/nav") %>
    
    <div class="container" style="margin: 2cm;">
        <h2 style="margin-bottom:1cm; font-weight: 400;">SignUp</h2>

        <form action="/user/signup" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" style="max-width: 70%;">
              </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" style="max-width: 70%;">
              
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" style="max-width: 70%;">
            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <%- include("./partials/script") %>
</body>
</html>
